@font-face {
  font-family: "iconfont"; /* Project id 1891866 */
  src: url('//at.alicdn.com/t/font_1891866_47sukspu18q.woff2?t=1640845578775') format('woff2'),
       url('//at.alicdn.com/t/font_1891866_47sukspu18q.woff?t=1640845578775') format('woff'),
       url('//at.alicdn.com/t/font_1891866_47sukspu18q.ttf?t=1640845578775') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble1:before {
  content: "\e615";
}

.icon-github1:before {
  content: "\e61d";
}

.icon-dribbble:before {
  content: "\e604";
}

.icon-bilibili:before {
  content: "\e602";
}

.icon-insgram:before {
  content: "\e603";
}

.icon-github:before {
  content: "\e613";
}

.icon-weibo:before {
  content: "\e632";
}

.icon-mail1:before {
  content: "\e743";
}

.icon-pinterest:before {
  content: "\f662";
}

.icon-mail-circle:before {
  content: "\e6d7";
}

.icon-facebook:before {
  content: "\eb8d";
}

.icon-home:before {
  content: "\e601";
}

.icon-heo:before {
  content: "\e68a";
}

.icon-CN_bilibili:before {
  content: "\e600";
}

.icon-mail:before {
  content: "\e7b7";
}

.icon-weixin:before {
  content: "\e933";
}

.icon-bilibili-fill:before {
  content: "\e93e";
}

.icon-ins:before {
  content: "\e639";
}

.icon-bblogo:before {
  content: "\e67a";
}

.icon-favicon:before {
  content: "\e679";
}

.icon-heo-e:before {
  content: "\e676";
}

.icon-heo-h:before {
  content: "\e677";
}

.icon-heo-o:before {
  content: "\e678";
}

.icon-ozero:before {
  content: "\e675";
}

.icon-oshare:before {
  content: "\e674";
}

.icon-osampling:before {
  content: "\e673";
}

.icon-osamplingplus:before {
  content: "\e672";
}

.icon-osa:before {
  content: "\e671";
}

.icon-oremix:before {
  content: "\e670";
}

.icon-opublicdomainalt:before {
  content: "\e66f";
}

.icon-opd:before {
  content: "\e66e";
}

.icon-onc-eu:before {
  content: "\e66d";
}

.icon-onc-jp:before {
  content: "\e66c";
}

.icon-ond:before {
  content: "\e668";
}

.icon-occ-by:before {
  content: "\e669";
}

.icon-onc:before {
  content: "\e66a";
}

.icon-occ:before {
  content: "\e66b";
}

